.sidebar {
  position: fixed;
  background-color: grey;
  width: 200px;
  height: 100%;
}

.sidebar a {
  display: block;
  padding: 16px;
}

.sidebar a:hover {
  color: white;
  background-color: darkgray;
}
.content {
  margin-left: 200px;
}

@media screen and (max-width: 700px){
  .sidebar{
    position : relative;
    width: 100%;
    height: auto;
  }
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px){
  .sidebar{
    position : relative;
  }
  .sidebar a {
    float: left;
  }
}